[Unit]
Description=Slurm REST daemon (for slurm-web)
After=network.target munge.service slurmctld.service
Wants=munge.service

[Service]
Type=simple
User=slurm
Group=slurm
RuntimeDirectory=slurmrestd
RuntimeDirectoryMode=0755
ExecStart=/usr/sbin/slurmrestd -a rest_auth/local unix:/run/slurmrestd/slurmrestd.socket
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
